{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C# программист</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
<header>
    <div class="name">
        <p style="margin-top: 20px">C#</p>
        <p style="margin-top: -25px">программист</p>
        <img class="logo" src="{% static 'images/logotip.png' %}">
    </div>
</header>
<main>
    <div class="body">
        <div class="navigation" style="height: 1200px">
            <nav>
                <ul>
                    <li>
                        <div style="border-bottom: 1px solid #341D44; justify-content: center"><a
                                style="color: #341D44 !important;" href="/">Главная</a></div>
                    </li>
                    <li>
                        <div><a href={% url 'info' %}>Востребованность</a></div>
                    </li>
                    <li>
                        <div><a href={% url 'geography' %}>География</a></div>
                    </li>
                    <li>
                        <div><a href={% url 'skills' %}>Навыки</a></div>
                    </li>
                    <li>
                        <div><a href={% url 'vacancies' %}>Последние вакансии</a></div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="home_text">
            {% for i in homepage %}
                {{ i.text|safe }}
                <div class="empty" style="height: 100px"></div>
                <img class="home_img" src="{{ i.image.url }}"/>
            {% endfor %}

        </div>
    </div>
</main>
<footer>
    <p>Климов Олег Анатольевич АТ-01&emsp;&emsp;</p>
</footer>
</body>
</html>