{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>
<h1>ПОДОБРАТЬ ИЗОБРАЖЕНИЯ</h1>
<p>Программист C# (С# Developer) специализируется на разработке веб-приложений, десктопных кроссплатформенных приложений
    , игр, облачных сервисов, приложений для устройств, работающих на ОС Windows, других программных продуктов.</p>
<h2>Описание профессии</h2>
<p>Программист C# может создавать сайты, игры на движке Unity, писать программы и разрабатывать приложения, работать с
    нейросетями. Примеры позиций, на которых может работать С# Developer:</p>
<ul>
    <li>Разработчик игр (Gamedev).</li>
    <li>Веб-разработчик (Web programmer, web developer, web engineer).</li>
    <li>Frontend-разработчик (Front-end Developer).</li>
    <li>Бэкенд-разработчик (Back-end developer).</li>
    <li>Специалист по машинному обучению (Machine Learning Specialist (ML Specialist)).</li>
    <li>Мобильный разработчик (Mobile Developer, Mobile app Developer, App Developer).</li>
</ul>

<p>
    Программист C# должен уметь не только работать с кодом и вспомогательными инструментами, но и координировать работу
    других сотрудников команды, планировать рабочее время, составлять техзадания.
</p>

<div>
    В обязанности программиста на C# входит:

    <ul>
        <li>поиск технологических решений;</li>
        <li>написание своего кода и анализ/доработка чужого;</li>
        <li>тестирование ПО;</li>
        <li>отладка созданного продукта в случае, если на этапе тестирования были выявлены ошибки;</li>
        <li>исправление ошибок, допущенных другими программистами;</li>
        <li>внедрение и интеграция ПО;</li>
        <li>последующее сопровождение ПО (техническая поддержка, документация, инструкции, обучение сотрудников и другие работы);</li>
        <li>разработка интеграционных решений с применением разных API.</li>
        <li>документирование кода.</li>
    </ul>
</div>

<p>
    Программисту на С# можно не беспокоиться о востребованности своих знаний и навыков: главный язык разработки Microsoft
    .NET Framework не устареет и не канет в Лету, пока жив сам Microsoft и обновляется Windows.
</p>

<h2>Обучение на программиста C#</h2>

<p>Программированию на С# можно научиться в колледже, вузе, на курсах или самостоятельно. Подходящие специальности и направления подготовки в колледжах и вузах:</p>

<ul>
    <li>Колледжи:</li>
    <ul>
        <li>«Программирование в компьютерных системах» 09.02.03;</li>
        <li>«Информационные системы и программирование» 09.02.07;</li>
        <li>«Прикладная информатика (по отраслям)» 09.02.05;</li>
    </ul>
    <li>Вузы:</li>
    <ul>
        <li>«Прикладная информатика» 09.03.03</li>
        <li>«Программная инженерия» 09.03.04;</li>
        <li>«Информатика и вычислительная техника» 09.03.01;</li>
        <li>«Фундаментальная информатика и информационные технологии» 02.03.02;</li>
        <li>«Прикладная математика и информатика» 01.03.02 и другие направления бакалавриата, связанные с ИТ.</li>
    </ul>
</ul>
<p>
    Самое главное для любого программиста, в том числе и для разработчика на Си шарп, – опыт практической работы, получать который можно и нужно уже во время обучения в колледже или вузе.
</p>
<p>Освоить профессию программиста на C# предлагают и все крупные онлайн-университеты. В среднем на курсах учиться 1 год. </p>
{% endblock content %}